// @font-face {
//     font-family: 'appranix';
//     src: url('../assets/fonts/Rajdhani-Medium.woff2');
// }

// @font-face {
//     font-family: 'appranix-heading';
//     src: url('../assets/fonts/BebasNeue-Regular.woff2');
// }

@font-face {
    font-family: "appranix";
    src: url('../assets/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "appranix-heading";
    src: url('../assets/fonts/roboto/Roboto-Bold.ttf');
}
