<header class="header">
  <nav class="navigation-bar">
      <a href="/" class="nav-link">Home </a>
      <a href="/basic" class="nav-link">Basic</a>
      <a href="/blog" class = "nav-link">Blog</a>
      <a href="/help" class="nav-link">Help</a>
  </nav>
  <button class="theme-switch-btn" id="theme-switch" title="Click To Change The Theme"> Theme </button>
</header>

